.navBar {
    width: 100%;
    background: pink;
    height: 3rem;


}

.links {
    display: flex;
    flex-direction: column;
    a {
        list-style-type: none;
        background-color: green;
    }
}